<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
  </style>
</head>

<body>
  <div
    style="min-width:100%; min-height: 100vh; width:100%!important;background-color:#eee;color:#1a2e44;font-family:-apple-system,Roboto,sans-serif;font-size:16px;line-height:1.5;margin:0;padding:0">
    <div style="min-width:100%;width:100%!important;margin:0;padding:32px 0">
      <table style="width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;padding:0;border-width:0"
        height="100%">
        <tbody>
          <tr style="padding:0">
            <td
              style="border-collapse:collapse!important;word-break:break-word;min-width:100%;width:100%!important;margin:0;padding:0"
              align="center" valign="top">
              <img
                src="https://ci3.googleusercontent.com/meips/ADKq_NY1jVujPAunT9I87u12AZEEXkC1KNS5w2MYqAexiznDy-tkmD5iTNUEP17EuHQrtOpPq2jTrk39Qy7GQ_zRnw3zKlGAHXP0hNM8HKorwzHI3bzPzO_4HmzqpPchnxruOn5gt5c4=s0-d-e1-ft#https://assets.mailtrap.io/packs/assets/mailer/logo@2x-af814ed96246d3665622.png"
                alt="mailtrap logo"
                style="max-width:100%;width:136px!important;outline:none;text-decoration:none;height:41px!important;border-style:none">

              <table
                style="width:580px;border-collapse:separate;border-spacing:0;table-layout:auto;margin-top:24px;padding:0;border-radius: 0.75rem; border: 1px solid #e0e0e0; background-color: #f8f9fa; color: #212529; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
                <tbody>
                  <tr style="padding:0">
                    <td style="border-collapse:collapse!important;word-break:break-word;padding:24px 32px 30px">
                      <p style="font-size:16px;padding-bottom:10px;margin:0">
                        <strong>
                          Hola {{ fullName }},
                        </strong>
                      </p>

                      <p style="font-size:16px;padding-bottom:10px;margin:0">
                        Queremos informarte que el curso "{{ courseTitle }}", ha sido actualizado. A
                        continuación, te proporcionamos los detalles:
                      </p>
                      <br>

                      <p style="font-size:16px;padding-bottom:10px;margin:0">
                        <strong>
                          Decisión: {{ decision }}
                        </strong>
                      </p>
                      <br>

                      <p style="font-size:16px;padding-bottom:10px;margin:0">
                        <strong>
                          Comentario: {{ feedback }}
                        </strong>
                      </p>
                      <br>

                      <p style="font-size:16px;padding-bottom:10px;margin:0">
                        Aquí te explicamos lo que significa este cambio:
                      </p>
                      <ul style="font-size:16px;padding-bottom:10px;margin:0">
                        <li>
                          <strong>NECESITA CAMBIOS:</strong>
                          Puede que el curso necesite algunas modificaciones.
                          Te recomendamos que inicies sesión para modificar tu curso.
                        </li>
                        <li>
                          <strong>APROBADO:</strong>
                          ¡Felicidades! Tu curso ha sido aprobado.
                        </li>
                        <li>
                          <strong>RECHAZADO:</strong>
                          Lamentamos informarte que tu curso no ha sido aprobado.
                        </li>
                      </ul>
                      <br>

                      <p style="font-size:16px;padding-bottom:10px;margin:0">
                        Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos. Estamos aquí
                        para ayudarte.
                      </p>
                    </td>
                  </tr>

                  <tr style="padding:0">
                    <td style="border-collapse:collapse!important;word-break:break-word;padding:0 32px 24px">
                      <table
                        style="width:100%;border-collapse:collapse;border-spacing:0;table-layout:auto;padding:0;border-width:0">
                        <tbody>
                          <tr style="padding:0">
                            <td
                              style="border-collapse:collapse!important;word-break:break-word;border-top-width:1px;border-top-color:#e4e4e9;border-top-style:solid;font-size:12px;line-height:1.5;padding:15px 0 0">
                              <table
                                style="border-collapse:collapse;border-spacing:0;table-layout:auto;padding:0;border-width:0">
                                <tbody>
                                  <tr style="padding:0">
                                    <td style="border-collapse:collapse!important;word-break:break-word;padding:0">
                                      <span style="font-size:16px">
                                        Gracias por usar {{ companyName }}.
                                      </span>
                                      <br>
                                      <br>
                                      <span style="font-size:16px">Atentamente,</span>
                                      <br>
                                      <strong style="font-size:16px">El equipo de {{ companyName }}</strong>
                                      <br>
                                      <br>
                                      <br>
                                      <span style="font-size:14px;font-weight:500">
                                        Si tienes alguna duda, contáctanos en
                                        {{ supportEmail }}
                                      </span>
                                      <br>
                                      <span style="font-size:14px;font-weight:500">
                                        © {{ year }} {{ companyName }}. Todos los derechos
                                        reservados.
                                      </span>
                                      <br>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</body>

</html>